{{ define "main" }}

<div class="section hero">
  <div class="container">
    <div class="row">
      <h1>{{ .Title }}</h1>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
      {{ range $paginator.Pages }}
      <h4>
        <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ .Title | markdownify }}</a>
      </h4>
      <div class="mb-3 post-meta">
        <span>By {{ .Site.Params.Author }} on
          {{ if not .Params.HideDate }}{{ .PublishDate.Format "02 January 2006" }}{{ end }}</span>
      </div>
      <p class="card-text">{{ .Summary }}</p>
      <div class="row">
        <div class="nine columns"> <i class="{{.Params.Icon}}"></i>
          <span class="category">
            {{ range .Params.Categories }}
            <a href="{{ "/categories/" | relLangURL}}{{ . | urlize }}">
              {{.}}
            </a>
          </span>
          {{ end }}</div>
        <div class="three columns"><a class="button u-pull-right" href="{{ .Permalink }}">Read More</a></div>
      </div>
      {{ end }}
    </div>
    <hr>
  </div>
</div>

{{ end }}