<nav>
    <label for="drop" class="toggle"><i class="fas fa-bars float_right" aria-hidden="true"></i> <span><i class="fas fa-fire" aria-hidden="true"></i>
        Sugoi</span></label>
    <input type="checkbox" id="drop" />
    <ul class="menu">
        <li><a href="{$mybb->settings['bburl']}" class="Home"><span><i class="fas fa-fire" aria-hidden="true"></i>
                    Sugoi</span></a></li>
                        {{ range .Site.Menus.nav }}
                        <li class="u-pull-right">
                            <a href="{{ .URL | absLangURL }}" class="Members">
                            <span><i class="fas fa-user"
                            aria-hidden="true"></i> {{ .Name }}</span>
                        </a>
                        </li>
                        {{ end }}
    </ul>
</nav>